.creditcard-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  
}
.creditcard-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  border: 1px solid black;
  border-radius: 30px;
}

.creditcard-credit-card-info {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.creditcard-input-container {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.creditcard-split {
  display: grid;
  grid-template-columns: 4fr 2fr;
  gap: 15px;
}

.creditcard-split input {
  width: 100%;
}

.creditcard-input-label {
  font-size: 10px;
  color: #8b8e98;
  font-weight: 600;
}

.creditcard-input-field {
  width: auto;
  height: 40px;
  padding: 0 0 0 16px;
  border-radius: 9px;
  outline: none;
  background-color: #f2f2f2;
  border: 1px solid #e5e5e500;
  transition: all 0.3s cubic-bezier(0.15, 0.83, 0.66, 1);
}

.creditcard-input-field:focus {
  border: 1px solid transparent;
  box-shadow: 0px 0px 0px 2px #242424;
  background-color: transparent;
}

.creditcard-purchase-btn {
  height: 55px;
  background: #f2f2f2;
  border-radius: 11px;
  border: 0;
  outline: none;
  color: #ffffff;
  font-size: 13px;
  font-weight: 700;
  background: linear-gradient(180deg, #363636 0%, #1b1b1b 50%, #000000 100%);
  box-shadow: 0px 0px 0px 0px #ffffff, 0px 0px 0px 0px #000000;
  transition: all 0.3s cubic-bezier(0.15, 0.83, 0.66, 1);
}

.creditcard-purchase-btn:hover {
  box-shadow: 0px 0px 0px 2px #ffffff, 0px 0px 0px 4px #0000003a;
}