.wrapper {
    max-width: 1536px;
    margin-left: auto;
    margin-right: auto;
    padding: 1.25rem;
  }
  
  @media (min-width: 768px) {
    .wrapper {
      padding-left: 2.5rem;
      padding-right: 2.5rem;
    }
  }
  
  @media (min-width: 1280px) {
    .wrapper {
      padding-left: 0;
      padding-right: 0;
    }
  }
  
  .wrapper {
    width: 100%;
  }
  
  .flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .flex-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  /* Typography */
  .h1-bold {
    font-weight: bold;
    font-size: 2.5rem;
    line-height: 3rem;
  }
  
  @media (min-width: 1024px) {
    .h1-bold {
      font-size: 3rem;
      line-height: 3.75rem;
    }
  }
  
  @media (min-width: 1536px) {
    .h1-bold {
      font-size: 3.625rem;
      line-height: 4.625rem;
    }
  }
  
  .h2-bold {
    font-weight: bold;
    font-size: 2rem;
    line-height: 2.5rem;
  }
  
  @media (min-width: 1024px) {
    .h2-bold {
      font-size: 2.25rem;
      line-height: 2.75rem;
    }
  }
  
  @media (min-width: 1536px) {
    .h2-bold {
      font-size: 2.5rem;
      line-height: 3rem;
    }
  }
  
  .h2-medium {
    font-weight: 500;
    font-size: 2rem;
    line-height: 2.5rem;
  }
  
  @media (min-width: 1024px) {
    .h2-medium {
      font-size: 2.25rem;
      line-height: 2.75rem;
    }
  }
  
  @media (min-width: 1536px) {
    .h2-medium {
      font-size: 2.5rem;
      line-height: 3rem;
    }
  }
  
  .h3-bold {
    font-weight: bold;
    font-size: 1.75rem;
    line-height: 2.25rem;
  }
  
  @media (min-width: 768px) {
    .h3-bold {
      font-size: 2.25rem;
      line-height: 2.75rem;
    }
  }
  
  .h3-medium {
    font-weight: 500;
    font-size: 1.75rem;
    line-height: 2.25rem;
  }
  
  @media (min-width: 768px) {
    .h3-medium {
      font-size: 2.25rem;
      line-height: 2.75rem;
    }
  }
  
  .h4-medium {
    font-weight: 500;
    font-size: 2rem;
    line-height: 2.5rem;
  }
  
  .h5-bold {
    font-weight: bold;
    font-size: 1.75rem;
    line-height: 2.25rem;
  }
  
  .p-bold-24 {
    font-weight: bold;
    font-size: 1.5rem;
    line-height: 2.25rem;
  }
  
  .p-medium-24 {
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 2.25rem;
  }
  
  .p-regular-24 {
    font-weight: normal;
    font-size: 1.5rem;
    line-height: 2.25rem;
  }
  
  .p-bold-20 {
    font-weight: bold;
    font-size: 1.25rem;
    line-height: 1.875rem;
    letter-spacing: 0.02em;
  }
  
  .p-semibold-20 {
    font-weight: 600;
    font-size: 1.25rem;
    line-height: 1.875rem;
    letter-spacing: 0.02em;
  }
  
  .p-medium-20 {
    font-weight: 500;
    font-size: 1.25rem;
    line-height: 1.875rem;
  }
  
  .p-regular-20 {
    font-weight: normal;
    font-size: 1.25rem;
    line-height: 1.875rem;
    letter-spacing: 0.02em;
  }
  
  .p-semibold-18 {
    font-weight: 600;
    font-size: 1.125rem;
    line-height: 1.75rem;
    letter-spacing: 0.02em;
  }
  
  .p-medium-18 {
    font-weight: 500;
    font-size: 1.125rem;
    line-height: 1.75rem;
  }
  
  .p-regular-18 {
    font-weight: normal;
    font-size: 1.125rem;
    line-height: 1.75rem;
    letter-spacing: 0.02em;
  }
  
  .p-bold-16 {
    font-weight: bold;
    font-size: 1rem;
    line-height: 1.5rem;
  }
  
  .p-medium-16 {
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.5rem;
  }
  
  .p-regular-16 {
    font-weight: normal;
    font-size: 1rem;
    line-height: 1.5rem;
  }
  
  .p-semibold-14 {
    font-weight: 600;
    font-size: 0.875rem;
    line-height: 1.25rem;
  }
  
  .p-medium-14 {
    font-weight: 500;
    font-size: 0.875rem;
    line-height: 1.25rem;
  }
  
  .p-regular-14 {
    font-weight: normal;
    font-size: 0.875rem;
    line-height: 1.25rem;
  }
  
  .p-medium-12 {
    font-weight: 500;
    font-size: 0.75rem;
    line-height: 1.25rem;
  }
  